@use "scss/typography";
@forward "scss/theme";
@use "scss/adaptive/phone";
@use "scss/adaptive";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

$breakpoint-tablet: 1000px;
$breakpoint-phone: 600px;


html, body {
  margin: 0;
}

@layer main, tablet, phone;

@layer tablet {
  @include adaptive.tablet;
}

@layer phone {
  @include phone.phone;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100dvh;
  background-color: var(--md-sys-color-background);
  display: grid;
  grid-template-columns: auto 1fr;
  min-width: 340px;
}

* {
  box-sizing: border-box;
}

@mixin beforeForHover() {
  content: '';
  position: absolute;
  inset: 0;
  opacity: var(--_state-layer-opacity, 0);
  background-color: currentColor;
  z-index: -1;
  transition: 0.3s opacity;
  border-radius: inherit;
}

@layer main {
  .navbar {
    background-color: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-on-surface-variant);
    height: 100dvh;
    position: sticky;
    top: 0;
    align-self: start;
    overflow: hidden;
    padding: 12px;
    min-width: 80px;
    scroll-behavior: smooth;
    @media ($breakpoint-phone<width<$breakpoint-tablet) {
      justify-content: center;
      gap: 12px;
    }


    &__item {


      &__label {
        min-height: 56px;
        display: flex;
        align-items: center;
        @include typography.title-small;


      }


      &__list {


        margin: 0;

        @media ($breakpoint-phone<=width<$breakpoint-tablet) {
          gap: 12px;
        }
      }
    }

    & ul {
      list-style: none;
      padding: unset;
    }
  }

  .navigation-list {
    &__button {
      display: flex;
      align-items: center;

      border-radius: 100px;
      cursor: pointer;
      position: relative;
      isolation: isolate;


      &:hover {
        --_state-layer-opacity: .08;
        --icon-fill: 1;
      }

      &::before {
        @media (width>=$breakpoint-tablet) {
          @include beforeForHover();
        }
      }

      &.active {
        color: var(--md-sys-color-on-secondary-container);
        --_state-layer-opacity: 0;
        --active-bg: var(--md-sys-color-secondary-container);


        &::after {
          @media (width>=$breakpoint-tablet) {
            content: attr(data-count);

          }

        }

      }

      &__icon {
        flex-shrink: 0;
        display: flex;


        &::before {
          @media (width<$breakpoint-tablet) {
            @include beforeForHover();
          }
        }
      }

      &__label {
        flex-grow: 1;
      }
    }
  }

  .content-container {
    padding: min(24px, 7%);
    color: var(--md-sys-color-on-secondary-container);
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 1em;


    &__item {
      border: 1px solid var(--md-sys-color-on-secondary-container);
      border-radius: 1rem;
      padding-inline: min(1em, 15%);
      padding-bottom: 1em;

      &__text {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        p {
          margin: 0;
        }
      }
    }
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' var(--icon-fill, 0),
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;

    .navigation-list__button.active & {
      --icon-fill: 1;
    }

    transition: font-variation-settings 0.3s;
  }
}

